<div class="row align-items-center">
    <div class="about-container">
        <div class="about-image">
            <img src="../../assets/mansi.JPG" alt="Profile Picture"><br>
        </div>

        <div class="about-text">
            <h2 class="default-topic">👨‍💻<span id="textid">About Me.</span></h2>
            <p>I’m a passionate and detail-oriented <span class="default-highlight">Full Stack
                    Developer</span>
                with 4 years of experience building scalable, secure, and high-performance web
                applications.
                With a strong foundation in <span class="default-highlight">Java (Spring Boot)</span>
                and <span class="default-highlight">Angular</span>, I specialize in developing
                end-to-end solutions
                that merge functionality with user-centric design.</p>

            <p>Currently working as a <span class="default-highlight">System Analyst at NSE</span>, I contribute to
                mission-critical projects,
                focusing
                on both backend logic and frontend user experience. I’ve worked on applications like
                ENIT
                , Member Portal , NMASS and IMS , enhancing performance, upgrading frameworks, and
                implementing
                modern architecture like <span class="default-highlight">Microservices</span> and <span
                    class="default-highlight">Microfrontend</span>.</p>

            <p>My work involves close collaboration with cross-functional teams, ensuring seamless
                integration,
                clean code, and timely delivery. I’m also well-versed in deployment pipelines,
                automation, and
                performance optimization.</p>



        </div>
    </div>
    <br>
    <div class="about-container">
        <div class="about-text">
            <h2 class="default-topic">🛠️<span id="textid"> Skills and Tecnologies.</span></h2>

            <p>💻<span class="default-highlight"> Languages & Frameworks : </span>
                Java 8/11, Spring Boot, Angular (2–14), HTML5, CSS3, JavaScript, TypeScript</p>

            <p>⚙️<span class="default-highlight"> Architecture & Tools : </span>
                Microservices, Microfrontend, REST APIs, Git, SVN, Jenkins, NGINX, CI/CD</p>

            <p>🗄️<span class="default-highlight"> Databases & Messaging : </span>
                Oracle, SQL, MySql,Redis</p>

            <h2 class="default-topic">🎯<span id="textid"> Hobbies & Interests.</span></h2>
            <p>
                👨‍🍳 <span> Cooking</span>
            </p>
            <p>
                🎵<span> Listening to Music</span>
            </p>
            <p>
                ✈️ <span> Exploring New Places</span>
            </p>

        </div>
        <div class="about-image">
            <app-tag-canvas></app-tag-canvas>
        </div>
    </div>
</div>