<div class="accordion-left ">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages" 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p><strong><span class="default-highlight">Fluent</span> </strong> English</p>
      <p><strong><span class="default-highlight">Advanced</span></strong>  Hindi</p>
      <p><strong><span class="default-highlight">Native</span></strong> Marathi</p>
    </div>
   
    </accordion-group>
    <br>
    <accordion-group 
    heading="Education" 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2021 - Center for Development of Advance Computing,Kharghar,Mumbai - <strong><span class="default-highlight">CDAC Certified</span></strong> - Diploma in Advance Computing </p>
     
      <p>2017 - Savitribai Phule Pune University - <strong><span class="default-highlight">Computer Engineering</span></strong> - Bachelor's Degree</p>
     
      <p>2014 - Mumbai University -<strong><span class="default-highlight"> Computer Engineering </span></strong> - Diploma</p>
     
    </div>    
  </accordion-group>
  <br>
    <accordion-group 
    heading="Experience"
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>National Stock Exchange of India Limited - <strong><span class="default-highlight">System Analyst</span></strong></p>
      <ul>
        <li>
          I'm a dedicated Full Stack Developer with over 4 years of experience in designing, developing, and
          maintaining scalable web applications. 
          My core strengths lie in Java, Spring Boot, Angular, Microservices,
          and cloud-ready deployments using tools like NGINX and Jenkins. 
        </li>
      </ul>
    </div>
    </accordion-group>
    <br>
    <accordion-group 
    heading="Techs I use"
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-java-plain-wordmark colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-spring-original-wordmark colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-hibernate-plain-wordmark colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-sqlite-plain-wordmark colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain colored"></i>
          </div>
        <div class="tech-cell">
              <i class="devicon-npm-original-wordmark colored"></i>
          </div>
         <div class="tech-cell">
              <i class="devicon-git-plain-wordmark colored"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original "></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-nginx-original colored"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>