<div class="canvas-wrapper"  >
    <canvas width="500" height="500" id="techCanvas">
      Your browser does not support the canvas tag.
    </canvas>
    
    <div id="tagList" style="display: none;" >
      <ul>
        <li><a id="Ccolour">Java</a></li>
        <li><a id="Ccolour">Spring Boot</a></li>
        <li><a id="Ccolour">Angular</a></li>
        <li><a id="Ccolour">Kafka</a></li>
        <li><a id="Ccolour">Redis</a></li>
        <li><a id="Ccolour">HTML</a></li>
        <li><a id="Ccolour">CSS</a></li>
        <li><a id="Ccolour">TypeScript</a></li>
        <li><a id="Ccolour">Git</a></li>
        <li><a id="Ccolour">Jenkins</a></li>
        <li><a id="Ccolour">Microservices</a></li>

        <li><a id="Ccolour" >Java</a></li>
        <li><a id="Ccolour" >Angular</a></li>
        <li><a id="Ccolour" >Spring Boot</a></li>
        <li><a id="Ccolour" >Kafka</a></li>
        <li><a id="Ccolour" >Redis</a></li>
      </ul>
    </div>
  </div>

  