<div class="row align-items-center default-container">
  <!-- default-container -->

  <div class="center-page home-container">
    <div class="text-left">
      <h2 class="home-author"><span id="textid">I'm a</span><span id="dynamic-text">{{ dynamicText }}</span></h2>
      <blockquote>

        <div class="hero-section">
          <div class="hero-text">

            <h1> <span class="textColor">Hello, I'm Mansi Malunjkar </span> <span class="wave-emoji">🤚🏻</span></h1>
            <h1 style="font-weight: 500;">Full Stack Developer | Java | Spring Boot | Angular | Microservices | CI/CD
            </h1>
            <p>Enginnering the digital world from end to end.</p>
            <p>Welcome to my portfolio!</p>

            <!-- <p>I'm a dedicated Full Stack Developer with over 3 years of experience in designing, developing, and
              maintaining scalable web applications. My core strengths lie in Java, Spring Boot, Angular, Microservices,
              and cloud-ready deployments using tools like NGINX and Jenkins.</p>

            <p> I enjoy turning complex problems into clean, efficient code and building user-centric solutions that
              make a
              difference.</p>

            <p> Let’s build something amazing together.<span class="icon">💡</span></p> -->

            <p><span class="icon">💼</span> System Analyst at National Stock Exchange of India Limited</p>
            <p><span class="icon">📧</span> mansimalunjkar7869&#64;gmail.com</p>
          
            <div class="media-content">
              <div class="media-icons">
                <div class="media-icon">
                  <a href="https://www.linkedin.com/in/mansi-malunjkar-166a02184" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
                <div class="media-icon">
      
                  <a href="https://github.com/mansimalunjkar27" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- <a target="_blank" href="https://github.com/mansimalunjkar27"><i class="fab fa-github fa-lg"></i></a>&nbsp;&nbsp;
            <a target="_blank" href="https://www.linkedin.com/in/mansi-malunjkar-166a02184"><i
                class="fab fa-linkedin fa-lg"></i></a>&nbsp;&nbsp;
            <a href="mailto:mansimalunjkar7869@gmail.com" aria-label="Email">
              <i class="fas fa-envelope"></i>
            </a> -->
            <!-- <a target="_blank" href="https://Wa.me/+918698438659"><i class="fab fa-whatsapp fa-lg"></i></a> -->
          
            <button>
              <a href="assets/MansiMalunjkar_Resume.pdf" class="gradient-btn" download="MansiMalunjkar_Resume.pdf">Download
                Resume here</a>
            </button>
          </div>

          <div class="circle-border">
            <!-- <img src="assets/Mansi_Malunjkar.JPG" alt="Profile Picture" class="circle-img" /> -->
            <img src="../../assets/IMG_3017.JPG" alt="Profile Picture" class="circle-img" />
          </div>

        </div>
        
      </blockquote>
    </div>
  </div>
</div>